.inline-block-demo {
    max-width: 604px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 0;
    list-style: none;
    border: 2px solid #e30000;
}

.inline-block-demo__item {
    display: inline-block;
    width: 150px;
    min-height: 250px;

    font-size: 40px;
    font-weight: 500;

    border: 2px solid #211f22;
}
